*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'M PLUS 1 Code', sans-serif;
}
.navbar{
    background-color: rgb(248, 234, 237);
}

.navbar ul.navbar-nav li a{
    color: black;
}

.navbar-brand{
    color: black;
}


.flyer{
    height: 600px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
}

.div_listas{
    display: flex;
    
}
.lista_footer{
    list-style: none;
    font-size: smaller;
}

.lista_categorias{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categoria_lista{
    text-decoration: none;
    color: black;
    padding: 8px;
}

.lista_desplegable{
    color: black;
}

.lista_desplegable:hover{
    background-color: rgb(224, 224, 224);
}

.btn{
    border: 0.5px solid rgb(209, 209, 209);
}
.btn:hover{
    background-color: rgb(65, 95, 65);
    color: white;
}


.precio{
    color: rgb(0, 0, 107);
    font-weight: 500;
    font-size: x-large;
}

.descripcion{
    font-size: small;
}
.card_productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    font-family: 'PT Sans Narrow', sans-serif;
}
/* .icono_carrito{
    margin-right: 15px;
    border-color: pink;
} */


.div_carrito{
    background-color: rgb(218, 189, 189);
    font-size: small;
}

.boton_borrar{
    height: 50px;
    font-size: small;
}

footer{
    display: flex;
    justify-content: center;
}


.imagen{
    padding-top: 10px;
    height: 150px;
    width: auto;
    align-self: center;
    
}

.imagen_carrito{
    height: 50px;
    width: auto;
}


